body {
  background: #ccc;
  font-family: sans-serif;
  color: #333;
  line-height: 1.4em;
}

header {
  background: #999;
  padding: 5px 30px;
}

footer {
  background: #999;
  padding: 5px 30px;
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}

.ListArticles li {

  border-bottom: 1px solid #aaa;
  margin-right: 60px;
  
  p {
    padding-left: 30px;

    strong {
      font-weight: bold;
    }
  }
}
